@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');

.menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu>h3 {
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(211, 135, 211);
    font-size: large;
}

.container {
    border-radius: 5px;
    width: 600px;
    height: 600px;
    background-color: rgb(155, 96, 155);
    padding: 7px 6px;
}

#scrollable {
    overflow-y: scroll;
    width: 100%;
    height: 94%;
}

.page-number {
    font-size: 24px;
    margin: 0 0 0 15px;
    padding: 5px;
}

.page-number>span {
    font-family: 'Lobster', cursive;
}

.items {
    height: 100px;
    background-color: rgba(209, 165, 207, 0.8);
    border-radius: 3px;
    margin: 0 5px 3px 0;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.items>div {
    margin: 3px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100);
h1 {
    font: 2em 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.loading {
    display: flex;
    justify-content: center;
}

.loader {
    display: inline-block;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}  